// Layout


body{
  background: #08193A;
}
#wrapper{
  width: 100%;
  overflow: hidden;
}
.container-fluid, .container{
  background: #F6F7FB;
  min-height: 500px;
}

.btn-transparent{
  border: 2px solid #CACDCF;
  border-radius: 5px;
  font-size: 16px;
  color: #A1A6AB;
  letter-spacing: 0;
  line-height: 25px;
  width: 80%;
  padding: 8px 0;
}

.contentPage{
  margin-top: 20px;
}



.panel-main {
    box-shadow: 1px 10px 30px -10px #c5c5c5;
}



// Login

.login .container {
  background: #fff;
  padding: 0;
}
.login .logo{
  display: block;
  margin: 110px 0 90px 0;
}
.login .left{
  padding-left: 5%;
}
.login form{
  width: 82%;
}

.login form .btn-login{
  background: transparent;
  display: block;
  margin: 30px auto;
  font-size: 15px;
  font-weight: 500;
}
.login form .btn:focus{
  border: 1px #A1A6AB ;
  color: #08193A ;
}

.login .forgetpassowrd{
  width: 80%;
  text-align: center;
}
.login .forgetpassowrd p {

  font-size: 14px;
  color: #A1A6AB;
  margin: 0;
}
.login .forgetpassowrd a{
  font-size: 14px;
  text-decoration: underline;
}
.login .right{
  background-image: url('../../img/loginBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px; 
  color: #fff;
}
.login .right h1{
  font-weight: 300;
  margin-bottom: 30px;
}
.login .right p{
  font-weight: 300;
  font-size: 20px;
}
.login .right .content{
  position: absolute;
  bottom: 120px;
  width: 82%;
  left: 10%;
}


// Menu

.navbar-main{
  background: #fff;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 10px 30px -10px #c5c5c5;
}

.navbar-main .navbar-header{
    padding-top: 5px;
    margin: 0 10px;
}

.navbar-main .nav{

}
.navbar-main .nav li{
  padding: 10px 0;
}

.navbar-main .nav li a{
  margin-right: 12px;
  color: #A6AAAF;
  font-weight: 400;
  font-size: 15px;
}

.navbar-main .nav li.active a{
  color: #4684FF;
}

.navbar-main .navbar-right{

}
.navbar-main .navbar-right li{
  height: 74px;
  border-left: 1px solid #F4F4F4;
  color: ##F4F4F4;
}

.navbar-main .navbar-right li a{
  margin-right: 0;
  font-size: 20px;

}

.navbar-main .navbar-right li:last-child {
  padding: 0;

}
.navbar-main .navbar-right li:last-child a {
  font-size: 15px;
}

.navbar-main li.dropdown .dropdown-menu{
  margin-top: 1px;
  border-radius: 0;
  background: #fff;
  right: 1px;
  border-bottom: 1px solid #F4F4F4;
}

.navbar-main li.dropdown .dropdown-menu li{
  height: auto;
  padding: 2px 0;
}

.navbar-main li.dropdown .dropdown-menu li a{
  font-weight: 300;
  font-size: 14px;

}

// Previsões (preview)
.preview .headerPage h1{
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
